<!DOCTYPE html>
<html ng-app="store">
<head>
	<meta charset="UTF-8">
 	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.mim.css">

	<title>AngularJs movie house</title>
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Movies store</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>                    
                </ul>
            </div>            
        </div>        
    </nav>

	<div class="container">

		<div class="row">
            <div class="col-md-3">
                <p class="lead">Cine Category</p>
                <div class="list-group">
                    <a href="#" class="list-group-item">action</a>
                    <a href="#" class="list-group-item">adventure</a>
                    <a href="#" class="list-group-item">technology</a>                    
                </div>
                <p class="lead">Filters</p>
                <div class="list-group">
                    <a href="#" class="list-group-item">Best Price</a>
                    <a href="#" class="list-group-item">Name</a>                                      
                </div>
            </div>
        
        	<div class="col-md-9" ng-controller="ListMovies as movies">
        		<div class="row">
        			<div ng-repeat="movie in movies.product" class="col-sm-5 col-lg-5 col-md-5">
                        <div class="thumbnail">
                            <img ng-src="{{movie.images[0].full}}" alt="{{movie.name}}">
                            <div class="caption">
                                <h4 class="pull-right">{{movie.price | currency}}</h4>
                                <h4><a href="#">{{movie.name | uppercase | limitTo:20}}</a></h4>
                                <p>{{movie.description.resume}} <a ng-show="{{movie.haveLink}}" target="_blank" href="{{movie.link}}">{{movie.link}}</a></p>
                            </div>
                            <button ng-show="{{movie.addCart}}" type="button" class="btn btn-sm btn-success">Add Cart</button>
                            <div class="ratings" ng-controller="PainelTabsController as painelTab">
                                <p class="pull-right"></p>
                                <p calss="pull-right">
                                    <span class="pull-right glyphicon glyphicon-star"></span>
                                    <span class="pull-right glyphicon glyphicon-star"></span>
                                    <span class="pull-right glyphicon glyphicon-star"></span>
                                    <span class="pull-right glyphicon glyphicon-star"></span>
                                    <span class="pull-right glyphicon glyphicon-star-empty"></span>
                                </p>
                                <ul class="nav nav-pills">
                                    <li role="presentation" ng-class="{active: painelTab.isTabSelected(1)}">
                                        <a href="javascript:;" ng-click="painelTab.setTab(1)">Descriptions</a>
                                    </li>
                                    <li role="presentation" ng-class="{active: painelTab.isTabSelected(2)}">
                                        <a href="javascript:;" ng-click="painelTab.setTab(2)">{{movie.reviews.length}} reviews</a>
                                    </li>
                                </ul>
                                <div class="painel" ng-show="painelTab.isTabSelected(1)">
                                    <h4>Description</h4>
                                    <p>{{movie.description.descFull}}</p>
                                </div>
                                <div class="painel" ng-show="painelTab.isTabSelected(2)">
                                    <ul class="list-group" >
                                        <li class="list-group-item" ng-repeat="review in movie.reviews">
                                                                                        
                                            <span ng-repeat="star in movies.getArrayNumber(review.star) ">
                                                <span class="glyphicon glyphicon-star"></span>
                                            </span>                                                               

                                            <h4 class="list-group-item-heading">{{review.description}}</h4>
                                            <p class="list-group-item-text">{{review.author}}</p>
                                        </li>                                    
                                    </ul>
                                </div>                                
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</body>
</html>
<script src="js/angular.min.js"></script>
<script src="js/app/stock.js"></script>
<script src="js/app/app.js"></script>