<div class="col-md-9" ng-controller="ListMovies as movies">
	<div class="row">
		<div ng-repeat="movie in movies.product" class="col-sm-5 col-lg-5 col-md-5">
            <div class="thumbnail">
                <img ng-src="{{movie.images[0].full}}" alt="{{movie.name}}">
                <div class="caption">
                    <h4 class="pull-right">{{movie.price | currency}}</h4>
                    <h4><a href="#">{{movie.name | uppercase | limitTo:20}}</a></h4>
                    <p>{{movie.description.resume}} <a ng-show="{{movie.haveLink}}" target="_blank" href="{{movie.link}}">{{movie.link}}</a></p>
                </div>
                <button ng-show="{{movie.addCart}}" type="button" class="btn btn-sm btn-success">Add Cart</button>
                <painel-tabs></painel-tabs>
            </div>
        </div>
    </div>
</div>